body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 720px;
    margin: 0 auto;       
    position: relative;    
    padding: 0;            
}

.background {
    background-color: rgb(187, 205, 229);
    height: 750px;
    margin: 0;
    padding: 0;
}

.title {
    color: rgb(73, 72, 72);
    margin: 20px 20px 20px 20px;    
    text-align: center;
    font-size: 40px;
}

.themeIcon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: absolute;
    top: 0;      
    right: 0;     
}

.themeIcon:hover {
    transform: scale(1.2);
}

.searchList{
    list-style: none;
}
.searchItem{
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 250px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 2s ease;
}

.searchItem:hover{
    scale: 1.2;
}

.flex{
    display: flex;
    width: 750px;
    justify-content: space-between;
}

.searchForm{
    background-color: rgba(98, 96, 96, 0.2);
    padding: 10px 10px;
    width: 250px;
    margin-left: 40px;
    border-radius: 15px;
}
.searchInput{
    background: none;
    border: none;
}
.searchInput:focus{
    outline: none;
}

.loadFlex{
    display: flex;
}
.error,
.loading{
    font-size: 30px;
    margin-left: 240px;
}

/*CITY*/
.city{
    border: 1px solid grey;
    border-radius: 8px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cityName{
    font-size: 30px;
}
.cityIcon{
    width: 150px;
}
.cityTemp{
    font-size: 20px;
}
.cityHum{
    font-size: 20px;
}